<div class="h-screen w-full max-w-380 mx-auto relative overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url('<%= asset_path('media/background.png') %>');"></div>
  
  <div class="relative z-10 h-full flex flex-col">
    <div class="p-6 overflow-y-auto flex-1">
      <div class="mb-6">
        <h1 class="text-3xl font-bold text-white text-shadow-lg text-center">Edit Player</h1>
      </div>

      <%= render "form" %>
    </div>
  </div>
</div>